annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1728935693959/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
distro==1.9.0
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1728178720319/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1718984626658/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1728758423444/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1728947708687/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1727820890233/work
httptools @ file:///Users/runner/miniforge3/conda-bld/httptools_1726688157455/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1724778349782/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
jiter==0.6.1
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1729351340817/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
openai==1.52.0
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
psycopg2 @ file:///Users/runner/miniforge3/conda-bld/psycopg2-split_1727892638049/work
psycopg2-binary @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1701737547976/work/psycopg2-binary
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1726601062926/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1726525028433/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyMuPDF==1.24.11
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1706018097647/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1727678737599/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1725456234629/work
redis @ file:///Users/ktietz/demo/mc3/conda-bld/redis_1629466498261/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1728057819683/work/dist
setuptools==75.1.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1729020614868/work
tqdm==4.66.5
typer==0.12.5
typer-slim==0.12.5
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
urllib3==2.2.3
uvicorn @ file:///Users/runner/miniforge3/conda-bld/uvicorn-split_1729084472010/work
uvloop @ file:///Users/runner/miniforge3/conda-bld/uvloop_1729063316634/work
watchfiles @ file:///Users/runner/miniforge3/conda-bld/watchfiles_1725346990436/work
websockets @ file:///Users/runner/miniforge3/conda-bld/websockets_1727013355356/work
wheel==0.44.0
